<% layout("/layouts/boilerplate") %>


<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mt-5">Edit listing</h3>
    <form
      method="post"
      action="/listings/<%= listing.id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label
          for="title"
          class="form-label"
          >New Title</label
        >
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid title</div>
      </div>
      <div class="mb3"></div>

      <div class="mb-3">
        <label
          for="description"
          class="form-label"
          >New Description</label
        >
        <textarea
          name="listing[description]"
          size="100"
          class="form-control"
          required
        >
<%= listing.description %>
        
    </textarea
        >
        <div class="invalid-feedback">Please enter a valid description</div>
      </div>

      <div class="mb-3">
        <b>Original listing image</b><br>
        <img src="<%= originalImageUrl %>" >
      </div>

      <div class="mb-3">
        <label
          for="image"
          class="form-label"
          >Upload New Image</label
        >
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          
        />
        <div class="invalid-feedback">Please enter a valid image url</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label
            for="price"
            class="form-label"
            >New Price</label
          >
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label
            for="location"
            class="form-label"
            >New Location</label
          >
          <input
            type="text"
            class="form-control"
            name="listing[location]"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback">Please enter a valid location</div>
        </div>
      </div>

      <div class="mb-3">
        <label
          for="country"
          class="form-label"
          >New Country</label
        >
        <input
          class="form-control"
          type="text"
          name="listing[country]"
          value="<%= listing.country %>"
          required
        />
        <div class="invalid-feedback">Please enter a valid country</div>
      </div>

      <br />
      <button class="btn btn-dark mb-2 edit-btn">Edit</button>
      <div class="btns">
        <a
          href="/listings"
          class="btn btn-dark mb-5"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
